@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-white: #FFFFFF;
  --bg-dark: #191A23;
  --bg-light-gray: #F3F3F3;
  --accent-lime: #B9FF66;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--bg-white);
  color: var(--bg-dark);
}